<!-- templates/edit.html -->
{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="ml-0.25">
        <h2 class="mb-4">Edit Entry</h2>
        <form method="POST" class="p-0 rounded shadow-sm">
            <div class="mb-3">
                <input type="date" name="date" value="{{ entry.date }}" class="rounded">
            </div>
    </div>
            <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <input type="text" name="category" class="form-control" value="{{ entry.category }}">
            </div>
            <div class="mb-3">
                <input type="text" name="topic" value="{{ entry.topic }}" class="rounded">
            </div>

            <div class="mb-3">
                <input type="number" step="1" name="chapters_completed" value="{{ entry.chapters_completed }}" class="rounded">
            </div>

            <div class="mb-3">
                <input type="number" step="1" name="goal" value="{{ entry.goal or '' }}" class="rounded">
            </div>

            <div class="mb-3">
                <textarea name="notes" class="rounded">{{ entry.notes }} </textarea>
            </div>
            <button type="submit" class="rounded">Save Changes</button>
        </form>
</div>
{% endblock %}